* {
    font-family: Inter, sans-serif;
    font-weight: 400;
}

body {
    width: 100vw;
    height: 100vh;
}

.one {
    border: 1px solid gray;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.two {
    background-color: black;
    height: 100%;
    width: 75%;

}

.three{
    margin-top: 50px;
    margin-bottom: 50px;
}

.four {
    width: 100%;
    height: 80%;
    background: gray;
}